BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110

DerivePointerAlignment: false
PointerAlignment: Left

AlignConsecutiveAssignments: true
AllowShortFunctionsOnASingleLine: InlineOnly
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: false

AccessModifierOffset: -4
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: ControlStatements

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterControlStatement: Always
  BeforeElse: true
  BeforeWhile: true
  BeforeLambdaBody: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false

IncludeBlocks: Regroup
MaxEmptyLinesToKeep: 1
